{% extends 'layouts/base.html' %}
{% block content %}
<div class="d-flex flex-column gap-3">
    <header>
        <h1>Log In</h1>
    </header>
    {% if error_message %}
        <p style="color: #bd0000">{{ error_message }}</p>
    {% endif %}
    <form method="post" action="">
        {% csrf_token %}
        <div class="row">
            <div class="d-flex flex-column col-2 gap-3">
                <label for="InputLogin" class="form-label">Login</label>
                <label for="InputPassword" class="form-label">Password</label>
            </div>
            <div class="d-flex flex-column col gap-2">
                <input type="username" name="username" class="form-control" maxlength="64" style="width: 50%" id="InputUsername" aria-describedby="UsernameHelp">
                <input type="password" name="password" class="form-control" maxlength="32" style="width: 50%" id="InputPassword">
                <div class="d-flex flex-column gap-4 mt-4">
                    <button type="submit" class="btn btn-dark" style="width: 15%">Log in!</button>
                    <a href="{% url 'signup_page_url' %}">Create new account</a>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
