{% extends 'layouts/base.html' %}
{% block content %}
    <header>
        <h1>Settings: {{ auth }}</h1>
    </header>
    <form>
        <div class="row mt-5">
            <div class="d-flex flex-column col-2 gap-3">
                <label for="InputLogin" class="form-label">Login</label>
                <label for="InputEmail" class="form-label">Email</label>
                <label for="InputNickName" class="form-label">NickName</label>
                <label for="UploadAvatar" class="form-label">Upload avatar</label>
            </div>
            <div class="d-flex flex-column col gap-2" >
                <input type="email" class="form-control" maxlength="64" style="width: 50%" id="InputLogin">
                <input type="email" class="form-control" maxlength="64" style="width: 50%" id="InputEmail">
                <input type="email" class="form-control" value="{{ auth }}"  maxlength="32" style="width: 50%" id="InputNickName">
                <img src="" class="img-fluid rounded-start" alt="profile img" style="width:150px; height: 150px;">
                <input class="form-control" type="file" style="width: 50%" id="formFile">
                <div class="d-flex flex-column gap-4 mt-4">
                    <button type="submit" class="btn btn-dark" style="width: 15%">Registered!</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}