{% extends 'base.html' %}

{% block content %}
    <header class="d-flex gap-3 align-items-center mb-4">
        <h1>New questions</h1>
        <a href="#">Hot questions</a>
    </header>
    <div class="card mb-3">
        <div class="row g-0">
        <div class="col-md-2">
            <div class="d-flex flex-column align-items-center mt-2 ms-2">
                <img src="..." class="img-fluid rounded-start" alt="profile img" style="width: 70px; height: 70px;">
                <div class="input-group mb-3 justify-content-center" style="width: 70px;">
                    <input type="text" class="form-control" aria-label="Text input with checkbox">
                    <div class="input-group-text d-flex flex-column p-0">
                        <button type="button" class="btn btn-sm btn-light p-0" style="max-height: 70px">▲</button>
                        <button type="button" class="btn btn-sm btn-light p-0" style="max-height: 70px">▼</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10">
          <div class="card-body">
                <h5 class="card-title"><a href="{% url 'question_page_url' %}">How to build moon park?</a></h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex flex-row gap-5">
                    <a href="#">answer (3)</a>
                    <div class="d-flex gap-2 mt-1">
                        <p>Tags:</p>
                        <a href="#">black-jack</a>
                        <a href="#">blender</a>
                    </div>
                </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3">
        <div class="row g-0">
        <div class="col-md-2">
            <div class="d-flex flex-column align-items-center mt-2 ms-2">
                <img src="..." class="img-fluid rounded-start" alt="profile img" style="width: 70px; height: 70px;">
                <div class="input-group mb-3 justify-content-center" style="width: 70px;">
                    <input type="text" class="form-control" aria-label="Text input with checkbox">
                    <div class="input-group-text d-flex flex-column p-0">
                        <button type="button" class="btn btn-sm btn-light p-0" style="max-height: 70px">▲</button>
                        <button type="button" class="btn btn-sm btn-light p-0" style="max-height: 70px">▼</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10">
          <div class="card-body">
                <h5 class="card-title"><a href="{% url 'question_page_url' %}">How to build moon park?</a></h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex flex-row gap-5">
                    <a href="#">answer (3)</a>
                    <div class="d-flex gap-2 mt-1">
                        <p>Tags:</p>
                        <a href="#">black-jack</a>
                        <a href="#">blender</a>
                    </div>
                </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3">
        <div class="row g-0">
        <div class="col-md-2">
            <div class="d-flex flex-column align-items-center mt-2 ms-2">
                <img src="..." class="img-fluid rounded-start" alt="profile img" style="width: 70px; height: 70px;">
                <div class="input-group mb-3 justify-content-center" style="width: 70px;">
                    <input type="text" class="form-control" aria-label="Text input with checkbox">
                    <div class="input-group-text d-flex flex-column p-0">
                        <button type="button" class="btn btn-sm btn-light p-0" style="max-height: 70px">▲</button>
                        <button type="button" class="btn btn-sm btn-light p-0" style="max-height: 70px">▼</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10">
          <div class="card-body">
                <h5 class="card-title"><a href="{% url 'question_page_url' %}">How to build moon park?</a></h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex flex-row gap-5">
                    <a href="#">answer (3)</a>
                    <div class="d-flex gap-2 mt-1">
                        <p>Tags:</p>
                        <a href="#">black-jack</a>
                        <a href="#">blender</a>
                    </div>
                </div>
          </div>
        </div>
      </div>
    </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination mt-5">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
{% endblock %}